<!-- This is the template for the about route. The template defines how information is displayed and organizes the layout of the HTML in the application. -->

<h2>About Super Rentals</h2>

<p>The Super Rentals website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>
