<!--This page is brought to you by the terminal command: ember g route index. Index.hbs is special in that does not require a route in router.js-->

<h1> Welcome to Super Rentals </h1>

<h2>We hope you find exactly what you're looking for in a place to stay.</h2>

<ul>
  <!--1. Data must be available at the top level of the app, ie here. 2) Data is retrieved from Firebase in index.js. 3) We display data here using the for-each loop below. 4) 'Each' is an Ember Helper. 5) 'Each' loops through the model hook in our route handler, index.js, in which we call our rentals database.-->
  {{#each model as |rental|}}

    <!-- rental=rental: components don't have it's parents data by default, it must be passed in. are completely isolated from the model that holds all the information that needed to be sent to it.  Info must be passed in manually. rental(1) is the variable name for the data in the component and rental(2) represents data from the firebase model grabbed from the loop, |rental|.-->
    <!-- destroyRental="destroyRental" comes from sendAction("detroyRental", rental) in rental-tile.js. Sent actions from components are referenced in the templates they are rendered in, and then the corresponding route handler (index.js) must code the action that is indicated in the component for the action to execute.  -->
    <!-- update="update" comes from a sendAction from update-rental, that was then sent to rental-tile, which now shows up here in index. P.S. the update-rental component is nested in rental-tile. -->
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

<!-- This is a new component.  The same rules as the one above generally apply. saveRental1 is the name of the function in which saveRental2 is a variable that sets the name of the saving action on the route, saveRental3. saveRental3 will be the name of an action in index.js, our route handler. -->
{{new-rental saveRental2="saveRental3"}}

{{#link-to 'about'}}ABOUT{{/link-to}}
{{#link-to 'contact'}}CONTACT{{/link-to}}
